{% extends 'petclinic/base.html' %}

{% block title%}Home{% endblock %}

{% block content %}
<form action="/petclinic/owners/" method="get">
    <table>
        <tr>
            <th>
                <label for="last_name">Last name:</label><br />
                <input type="text" name="last_name" id="last_name"/>
            </th>
        </tr>
        <tr>
            <td><p class="submit"><input type="submit" value="Find Owners" name=""></p></td>
        </tr>
    </table>
</form>
{% endblock %}